*{
    font-family: sans-serif;
}

.card {
    width: 180px;
    display:flex;
    flex-direction: column;
    background-color: #454545;
    padding:0;
    color:white;
    margin: .5rem;
}

.card,
.card img,
.card a{
    border-radius:8px;
}

.card p {
    font-weight:bold;
    font-size:1.2rem;
    color:white;
}

.card a{
    background-color:#ff6600;
    color:white;
    padding:.5rem;
    margin:1rem;
}

.card .icon-favorite{
    position: absolute;
    padding: 1rem;
    align-self: flex-end;
    cursor: pointer;
}
.card .icon-favorite:hover{
    color:red;
}